* { box-sizing: border-box; }

body {
  background: #333232;
  color: white;
  font: normal 16px Helvetica, arial, sans-serif;
  text-align: center;
  margin: 0 20px;
}

/* HEADER */

.header {
  font-size: 2.5em;
  margin: 100px 0;
}


/* CHOICES */

.choices { margin: 100px 0; }

.choice {
  position: relative;
  background: #e6eed6;
  font-size: 1.5em;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  overflow: hidden;
}

.choice:after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  background: #939889;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .3s;
  content: "";
}

.choice:active:after {
  left: 50%;
  bottom: 50%;
  height: 0;
  width: 0;
  opacity: 1;
  transition: 0s;
}

.choice:hover { opacity: 0.8; }


/* SCOREBOARD */

.message {
  font-size: 1.5em;
  margin: 50px 0;
}

.score-container {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

.score-header {
  font-size: 1.5em;
  font-weight: bold;
}

.score-choice {
  font-size: 1.25em;
  margin: 10px 0;
}

.score-total { font-size: 3em; }


/* FOOTER */

.footer {
  margin-top: 100px;
  font-size: 1.1em;
}

.footer a {
  color: white;
  font-weight: bold;
}


/* MOBILE */

@media (max-width: 500px) {
  .header {
    font-size: 2em;
    margin: 20px 0;
  }

  .choices { margin: 30px 0; }

  .choice {
    font-size: 1.2em;
    margin: 2%;
    width: 46%;
    padding: 15px 0;
  }

  .message {
    font-size: 1.2em;
    margin: 30px 0;
  }

  .score-container {
    width: 50%;
    margin: 0;
  }

  .score-header { font-size: 1.2em; }
  .score-choice { font-size: 1.1em; }
  .score-total { font-size: 2em; }

  .footer {
    margin-top: 30px;
    font-size: 1em;
  }
}
